@charset "utf-8";

body {
  margin: 0;
}

/* header */

header {
  background-color: #eee;
  text-align: center;
  padding: 32px 0;
}

header img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
}

header h1 {
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 24px;
}

header p {
  margin: 0 0 16px;
}

/* main */

main {
  padding: 64px 0;
}

main h2 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

main section {
  width: 400px;
  margin: 64px auto 0;
  outline: 2px solid red;
}

main section img {
  width: 400px;
  height: 240px;
}

main section .img-1 {
  background: red;
}

main section .img-2 {
  background: blue;
}

main section .img-3 {
  background: green;
}

main section .img-4 {
  background: yellow;
}

main section h3 {
  margin: 16px 0 0;
  font-size: 24px;
  font-weight: normal;
}

main section p {
  margin-top: 16px;
  line-height: 1.8;
}

/* footer */

footer {
  padding: 64px 0;
  border-top: 1px solid #ccc;
  text-align: center;
}

footer small {
  color: gray;
  font-size: 16px;
}

.animate {
  opacity: 0;
  transition: opacity 0.5s;
}

.animate.abc {
  opacity: 1;
}